<div class="container bg-light-green-transparent py-40">
	<div class="pb-10">
		
		<div class="text-center  pt-5" >
			<h3 class="title-main">Oops! <br>Page does not exist.</h3>
			<h5 class="title-description px-lg-5">The page you are looking for doesn't seem to be available. Please try again later!</h5>

			<div class="text-center py-5">
				<button class="btn btn-primary me-4 contact-now hvr-grow">Contact Now</button>
				<button class="btn back-home ms-2 hvr-grow" (click)="goBack()">Go to Home</button>
			</div>
		</div>

		<!-- <img src="/assets/images/placeholder/not-found-dog-left.png" class="dog-not-found-left">
		<img src="/assets/images/placeholder/not-found-dog-right.png" class="dog-not-found-right">
 -->
	</div>
</div>