<div class="container-fluid pt-5 bg-auth vh-100" 
[@animate]="{value:'*', params:{ scale:'.9', delay:'400ms' }}">
	<div class="container mt-5">
		<div class="row px-lg-1">
			<div class="col-12 col-md-6 offset-md-3 bg-light p-5 text-center align-self-center mt-5">
				<!-- Error Message -->
				<form class="p-5 pb-0 pt-3" (submit)="loginCustomer($event)" [formGroup]="customerLoginForm">
					<div class="form-group">
						<h5 class="title-about">Reset Your Password</h5>
						<p class="title-description">We will send you an email to reset your password.</p>
					</div>

					<div class="alert alert-danger alert-dismissible fade show error-message" [@animate]="{value:'*', params:{ y:'50px', delay:'600ms' }}" *ngIf="error" role="alert">
					  	<button type="button" class="btn-close hvr-buzz-out" data-bs-dismiss="alert" aria-label="Close" (click)="onAlertClose()"></button>
					  	<span [innerHtml]="error"></span>
					</div>  

					<div class="form-group mt-5">
						<input type="email" class="form-control" formControlName="email" name="email" placeholder="Email">
					</div>

					<div class="w-100 mt-2">
						<button type="submit" class="btn btn-primary btn-block w-100 mt-4 hvr-grow">Reset Password</button>
					</div>

					<div class="text-center mt-4 join-us">
						Back to <a [routerLink]="'/customer/signin'" class="hvr-grow">Login</a><br>
					</div>
				</form> 
			</div>

			<div class="col-12 col-md-6 offset-md-3 text-center align-self-center mt-3">
				<div class="language-selector">
					<select name="languages">
					  	<option>English (UK)</option>
					  	<option>German</option>
					  	<option>Japanese</option>
					</select>
				</div>
			</div>
		</div>
	</div>
</div>

