<div class="container px-10 mx-auto pb-10">
	<div class="">
		<h3 class="title-main" >Lorem Ipsum</h3>

		<h5 class="title-sub">Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur
		</h5>

		<div class="grid mt-4 lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 gap-4">
			<!-- col-1 -->
			<div class="lg:grid-span-3 md:grid-span-2 sm:grid-span-1 p-5 bg-blue-100">
				<div class="icon-holder bg-dark-blue hvr-wobble-top">
					<img src="/assets/images/placeholder/background.png" class="icon-image">
				</div>
				<div>
					<h5 class="title-about hvr-grow">Sed ut perspiciatis </h5>
					<p class="title-description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti.</p>
				</div>

				<button class="btn btn-primary mt-3 hvr-forward relative" routerLink="/account/signup">
					At vero eos 
				</button>
			</div>

			<!-- col-2 -->
			<div class="lg:grid-span-3 md:grid-span-2 sm:grid-span-1 p-5 bg-red-100">
				<div class="icon-holder bg-dark-blue me-4 hvr-wobble-top">
					<img src="/assets/images/placeholder/background.png" class="icon-image">
				</div>
				<div>
					<h5 class="title-about hvr-grow">unde omnis iste </h5>
					<p class="title-description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti.</p>
				</div>
			</div>

			<!-- col-3 -->
			<div class="lg:grid-span-3 md:grid-span-2 sm:grid-span-1 p-5 bg-green-100">
				<div class="icon-holder bg-dark-blue me-4 hvr-wobble-top">
					<img src="/assets/images/placeholder/background.png" class="icon-image">
				</div>
				<div>
					<h5 class="title-about hvr-grow">natus error</h5>
					<p class="title-description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti.</p>
				</div>

				<button class="btn btn-primary mt-3 hvr-forward relative" routerLink="/account/signup">
					Lorem Ipsum
				</button>
			</div>
		</div>

		<div class="grid mt-4 lg:grid-cols-2 md:grid-cols-2 sm:grid-cols-1 gap-4">
			<!-- col-1 -->
			<div class="lg:grid-span-2 md:grid-span-2 sm:grid-span-1 p-5 bg-violet-200
			flex">
				<div class="icon-holder bg-dark-blue hvr-wobble-top mr-3">
					<img src="/assets/images/placeholder/background.png" class="icon-image">
				</div>
				<div>
					<h5 class="title-about hvr-grow">Sed ut perspiciatis </h5>
					<p class="title-description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti.</p>
				</div>
			</div>

			<!-- col-2 -->
			<div class="lg:grid-span-2 md:grid-span-2 sm:grid-span-1 p-5 bg-orange-100 
			flex">
				<div class="icon-holder bg-dark-blue me-4 hvr-wobble-top mr-3">
					<img src="/assets/images/placeholder/background.png" class="icon-image">
				</div>
				<div>
					<h5 class="title-about hvr-grow">unde omnis iste </h5>
					<p class="title-description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti.</p>
				</div>
			</div>

		</div>
	</div>
</div>

<section class="bg-gray-700">
	<div
	class="max-w-lg bg-gray-700 px-4 pt-10 py-8 mx-auto text-left md:max-w-none md:text-center"
	>	
		<!-- TEXT -->
		<h1
		class="text-3xl font-extrabold leading-10 tracking-tight text-left text-gray-300 text-center sm:leading-none md:text-6xl text-4xl lg:text-7xl"
		>
			<span class="inline md:block">Join Us</span>
			<span class=" mt-2 bg-clip-text text-transparent bg-gradient-to-r from-red-400 via-blue-400 to-green-500 md:inline-block"
			> We are<span class="bg-clip-text text-transparent bg-gradient-to-r from-teal-500 via-cyon-400 to-purple-300"> Hiring</span> </span>
		</h1>

		<div
		class="mx-auto rounded-lg font-black mt-5 text-zinc-400 md:mt-12 md:max-w-2xl text-center lg:text-lg"
		>
			<!-- FORM -->
			<form class="card text-start drop-shadow">
				<div class="grid grid-cols-2 gap-4">
					<div class="p-2">
						<label class="text-gray-500 mr-3 font-medium">First name</label>
						<div class="form-item">
							<input type="text" name="First name" class="form-control w-full rounded-md border border-[#E0E0E0] bg-white py-2 px-2 text-base font-medium text-[#464646] outline-none focus:border-[#FE8445] focus:shadow-md">
						</div>
					</div>

					<div class="p-2">
						<label class="text-gray-500 mr-3 font-medium">Last name</label>
						<div class="form-item">
							<input type="text" name="First name" class="form-control w-full rounded-md border border-[#E0E0E0] bg-white py-2 px-2 text-base font-medium text-[#464646] outline-none focus:border-[#FE8445] focus:shadow-mdl">
						</div>
					</div>
				</div>

				<div class="p-2">
					<label class="text-gray-500 mr-3 font-medium">Email</label>
					<div class="form-item">
						<input type="text" name="First name" class="form-control w-full rounded-md border border-[#E0E0E0] bg-white py-2 px-2 text-base font-medium text-[#464646] outline-none focus:border-[#FE8445] focus:shadow-mdl">
					</div>
				</div>

				<div class="p-2">
					<label class="text-gray-500 mr-3 font-medium">Full Address</label>
					<div class="form-item">
						<input type="text" name="First name" class="form-control w-full rounded-md border border-[#E0E0E0] bg-white py-2 px-2 text-base font-medium text-[#464646] outline-none focus:border-[#FE8445] focus:shadow-mdl">
					</div>
				</div>
			</form>


			<button class="bg-tkb border text-sm text-white-500 py-3 px-7 rounded-full hvr-grow mt-12">
				Join MoveUp
			</button>
		</div>
	</div>
</section>

<hr class="text-gray-500 mx-5" />