@font-face{
	font-family: 'Circular-Regular';
	src: url('../fonts/circular-medium.ttf') format('truetype');
}

@font-face{
	font-family: 'Circular-Book';
	src: url('../fonts/circular-book.ttf') format('truetype');
}

@font-face{
	font-family: 'Uni-Sans-Bold';
	src: url('../fonts/uni-sans-bold.otf') format('truetype');
}

